/* Ensure box-sizing and font-family are applied globally */
* {
    box-sizing: border-box;
    
  }
  
  body {
    font-family: Verdana, sans-serif;
  }
  
  /* Styles for the header and top navigation menu */
  .menu .topnav {
    overflow: hidden;
    background-color: rgb(31, 49, 111);
    background-attachment: fixed;
  
  }
  
  .menu .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .menu .topnav a:hover {
    background-color: rgb(249, 219, 186);
    color: black;
  }
  
  .menu .topnav a.active {
    background-color: rgb(26, 72, 112);
    color: white;
  }
  
  .menu .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .menu .topnav a:not(:first-child) {
      display: none;
    }
  
    .menu .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .menu .topnav.responsive {
      position: relative;
    }
  
    .menu .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .menu .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  .logo img {
    width: 10%;
  }
  
  .imagecollege img {
    width: 100%;
   
  
  }
  
  
  .center-heading {
    text-align: center;
    justify-content: center;
  
  
  }
  
  .center-headings {
    text-align: center;
    justify-content: center;
    font-size: 20px;
  
  }
  
  .tag {
    height: 45px;
    width: 100%;
    background-color: rgb(31, 49, 111);
  }
  
  .tag h3 {
    text-align: center;
    justify-content: center;
    color: #f2f2f2;
  }
  
  
  .subjects {
    margin-top: 25px;
    width: auto;
    border-collapse: collapse;
    width: 100%;
   
  }
  .subjects tr td a{
    text-decoration: none;
  }
  
  .subjects td,th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    
  }
 
footer .footer{
  margin-top:35px;
  height: 50%;
  width: 100%;
  background-color:rgb(31, 49, 111);
}
.footer {
  margin-top: 20px;
  background-color:rgb(31, 49, 111);
  color: #fff;
  padding: 40px 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #ddd;
}

.footer .social-icons i {
  margin: 0 10px;
  color: #fff;
  cursor: pointer;
}

.footer .social-icons i:hover {
  color: #ddd;
}

.footer .copyright {
  margin-bottom: 0%;
  padding: 10px;
  text-align: center;
}
.footer .copyright p{
  display:inline;
  padding-inline: 8%;
  
}
